%ul.nav.navbar-nav
  %li.active
    = link_to "Home", root_path
  %li
    %a{:href => "#about"} About
  %li
    %a{:href => "#contact"} Contact
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Dropdown
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider
      %li.dropdown-header Nav header
      %li
        %a{:href => "#"} Separated link
      %li
        %a{:href => "#"} One more separated link
%ul.nav.navbar-nav.navbar-right
  %li
    %a{:href => "#"} Logout
  %li
    %a{:href => "#"} Register
  %li
    %a{:href => "#"} Login

